:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 35, 39, 42;

    --black-0: #23272a;
    --black-20: #1c1f22;
    --black-40: #151719;
    --black-60: #0e1011;
    --black-80: #070808;

    --green-0: #03c59a;
    --green-20: #029e7b;
    --green-40: #02765c;
    --green-60: #014f3e;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--black-40);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 15px;
    background-color: var(--black-60);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 15px;
}

.hello-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    background-color: var(--green-0);
    box-shadow: 5px 5px 15px #ffffff55;
}

.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.login-box {
    position: relative;
    width: 25%;
    height: 50%;
    background-color: var(--black-20);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.login-box h1 {
    position: absolute;
    top: 20px;
    margin-top: 0px;
    margin-bottom: auto;
}

.login-box .input-container {
    position: relative;
    margin-bottom: 25px;
}

.login-box .input-container input {
    border: 0;
    width: 100%;
    margin-top: 10px;
    border-bottom: 2px solid #ffffff55;
    outline: 0;
    font-size: 1.2rem;
    color: #ffffff;
    background: transparent;
    transition: border-color 0.2s;
}

.login-box .input-container label {
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: all 150ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.login-box .input-container input:focus {
    border-bottom: 2px solid var(--green-20);
}

.login-box .input-container input:focus ~ label,
.login-box .input-container input:valid ~ label {
    top: -12px;
    font-size: 12px;
}

.login-button {
    position: absolute;
    bottom: 20px;
    border: 0;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--green-20);
    transition: background-color 75ms;
    color: "#ffffff";
}

.login-button:active {
    background-color: var(--green-0);
}

#nyelvtan {
    background-image: url("https://www.rainforest-alliance.org/wp-content/uploads/2021/07/guatemala-belize-border-deforestation.jpg.optimal.jpg");
    width: 100vw;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

#nyelvtan #one-shadow {
    position: relative;
    top: 50vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #23272a81;
    box-shadow: 0 -30px 20px 0 #23272a81;
}

#nyelvtan #one {
    width: fit-content;
    height: 100vh;
}

#nyelvtan #one #pretitle {
    font-size: 4em;
}
#nyelvtan #one #title {
    font-size: 14em;
}
#nyelvtan #one #title #trees {
    font-size: 0.5em;
}
#nyelvtan #one #subtitle {
    font-size: 3em;
    text-align: right;
}

#nyelvtan #two {
    box-shadow: 0 -20px 20px 0 #014f3e;
    position: relative;
    top: 40px;
    padding-top: 20px;
}

#nyelvtan #two,
#nyelvtan #three,
#nyelvtan #four,
#nyelvtan #five,
#nyelvtan #six,
#nyelvtan #seven {
    background-color: #014f3e;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

#nyelvtan div .section-title {
    font-size: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#nyelvtan div .info {
    font-size: 1.5em;

    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    text-align: center;
}

#mo-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mo-content h1.info {
    text-align: right;
    width: 40vw;
    padding-right: 20px;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #mobile {
        display: flex;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #02765c;
        z-index: 5;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
